.App, .App input, .App select, .App button{
  font-size: calc(3pt + 1.8vmin);
}
.App {
  display: flex;
  background-color: #282c34;
  color: white;
}
.App code {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

